/* Custom fonts */

@font-face {
  font-family: "LCD Display Grid";
  src: url("../fonts/lcd_display_grid.ttf");
}

/* Some personal resets */

html {
  box-sizing: border-box;
  /* position: fixed; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  /* touch-action: manipulation; Disable double-tap zoom */
  user-select: none;          /* Chrome and Opera */
  -webkit-user-select: none;  /* Safari */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* Edge */
  /* position: fixed; */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

/* Responsive Images */

embed,
iframe,
img,
object,
video {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}

/* Removes all decimals and discs from lists */

ol,
ul {
  list-style: none;
}

/* 
 * Completely resets form items
 * ----------------------------
 * Super hard reset that removes all borders
 * and radiuses of all form items (including
 * checkboxes and radios)
 */

input,
textarea,
button {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  appearance: none;
  text-align: left;
}

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus,
button:hover,
button:active,
button:focus {
  outline: none;
}

:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.8vh;
}

html {
  position: relative;
}

body {
  align-items: center;
  background-image: linear-gradient(236deg, #74ebd5, #acb6e5);
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.container {
  border-radius: 15px;
  margin-bottom: 20px;
  -webkit-backdrop-filter: blur(10px) brightness(50%) contrast(90%);
  backdrop-filter: blur(10px) brightness(50%) contrast(90%);
}

.calculator {
  border-radius: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.7);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.calculator__display {
  background-color: #22222294;
  color: #fff;
  font-family: 'LCD Display Grid';
  font-weight: 300;
  line-height: 1.8em;
  padding: 0.5em 0.7em 0.2em 0.7em;
}

.calculator__infobar {
  display: none;
  grid-template-columns: 1fr 1fr 5fr 5fr;
  font-size: 0.6em;
  height: 2.1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.calculator__statusbar {
  line-height: 1.4em;
  height: 2.1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.calculator__stack {
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.calculator__argument {
  height: 2em;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.calculator__display .stack_label {
  text-align: left;
}

.calculator__display .stack_value {
  text-align: right;
}

.calculator__display .stack_value:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.calculator__keys {
  padding: 0.5em;
}

.calculator__keys button {
  color: #fff;
  min-height: 2.8em;
  min-width: 4em;
  position: relative;
  font-size: 1.6vh;
  font-weight: 300;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1.2em;
  padding: 0.7em 0.4em;
  margin: 0.3em;
  
}

.calculator__keys_function {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.calculator__keys_number {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/* .calculator__keys_number > * {
  color: #fff;
  padding: 0.5em 0.5em;
  position: relative;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
} */

button:active::before,
button.is-depressed::before {
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  content: "";
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

button.key--memory {
  min-height: 2.1em;
  padding: 0;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
}

button.key--memory-clear {
  min-height: 2.1em;
  padding: 0;
  color: #fff;
}

.key--enter {
  grid-column: 1 / 3;
}

button.key--purple {
  color: #fc6ef0;
}

button.key--green {
  color: #64dcbc;
}

button.btn--purple {
  background-color: #fc6ef018;
}

button.btn--green {
  background-color: #64dcbc1a;
}
